<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndPoint"  value="https://shitter-twitter.documents.azure.com:443/"/>
    <add key="PrimaryKey" value="MX+O53Sstn7HadiPubfd7gweqJvqoogpgmLIsCviafaKs2090eso7ShJHemh0Rwu8KVhDaXV5bUahdnbbyqO5A==" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>