<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndPoint"  value="https://shitter-twitter.documents.azure.com:443/"/>
    <add key="PrimaryKey" value="MX+O53Sstn7HadiPubfd7gweqJvqoogpgmLIsCviafaKs2090eso7ShJHemh0Rwu8KVhDaXV5bUahdnbbyqO5A==" />
    <add key="AccessToken" value="711270503470641152-akW2SaPKdWGzgBHRkrhPa4c2oMhJLW8"/>
    <add key="AccessTokenSecret" value="CMoFLBUEplPVrwrhVvsXgMaj6NAHJLnQVUEByeEEngPbk"/>
    <add key="ConsumerKey" value="7QZrLhx1uumTeXgOGRkOrAoRT"/>
    <add key="ConsumerSecret" value="X32io1FxB4EGL5HZGYsh4hcmW7OaWXci4uSVdDaHmr4y5pWIlU"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>